<div
  *ngIf="message"
  class="alert"
  [ngClass]="{
    'alert-error': level === 'error',
    'alert-success': level === 'success',
  }"
  role="alert"
>
  <p>{{ message }}</p>
</div>

<div class="flex flex-wrap gap-2">
  <app-book-card
    [book]="book"
    (borrow)="borrowBook($event)"
    (details)="displayBookDetails($event)"
    *ngFor="let book of bookResponse.content">
    {{ book.title }}
  </app-book-card>
</div>

<div class="flex justify-center mt-3">
  <nav aria-label="Pagination">
    <ul class="join">
      <li>
        <button
          (click)="goToFirstPage()"
          class="btn btn-sm join-item"
          [disabled]="page === 0"
        >
          <fa-icon [icon]="['fas', 'angles-left']"></fa-icon>
        </button>
      </li>
      <li>
        <button
          (click)="goToPreviousPage()"
          class="btn btn-sm join-item"
          [disabled]="page === 0"
        >
          <fa-icon [icon]="['fas', 'angle-left']"></fa-icon>
        </button>
      </li>
      <li *ngFor="let pageIndex of pages">
        <button
          (click)="gotToPage(pageIndex)"
          class="btn btn-sm join-item"
          [ngClass]="{ 'btn-active btn-primary': page === pageIndex }"
        >
          {{ pageIndex + 1 }}
        </button>
      </li>
      <li>
        <button
          (click)="goToNextPage()"
          class="btn btn-sm join-item"
          [disabled]="isLastPage"
        >
          <fa-icon [icon]="['fas', 'chevron-right']"></fa-icon>
        </button>
      </li>
      <li>
        <button
          (click)="goToLastPage()"
          class="btn btn-sm join-item"
          [disabled]="isLastPage"
        >
          <fa-icon [icon]="['fas', 'angles-right']"></fa-icon>
        </button>
      </li>
    </ul>
  </nav>
</div>



